## 176. Second Highest Salary
Write a solution to find the second highest **distinct** salary from the ```Employee``` table. If there is no second highest salary, return null (return None in Pandas).

In [3]:
import pandas as pd

In [7]:
employee = pd.DataFrame(
    {'id': [1, 2, 3], 'salary': [100, 200, 300]}
)
employee

   id  salary
0   1     100
1   2     200
2   3     300

In [9]:
employee.sort_values('salary', ascending=False)

   id  salary
2   3     300
1   2     200
0   1     100

In [11]:
employee.iloc[1:, ]

   id  salary
1   2     200
2   3     300

In [16]:
def second_highest_salary(df: pd.DataFrame):
    # sorted_df = df.sort_values('salary', ascending=False)
    # Get unique salary values and sort them in descending order
    unique_salaries = df['salary'].drop_duplicates().sort_values(ascending=False)

    # Check if there are at least two distinct salary values
    if len(unique_salaries) < 2:
        return pd.DataFrame({'SecondHighestSalary': [None]})

    # Get the second-highest salary
    second_highest = unique_salaries.iloc[1]

    return pd.DataFrame({'SecondHighestSalary': [second_highest]})

In [17]:
second_highest_salary(employee)

   SecondHighestSalary
0                  200

In [18]:
employee_short = pd.DataFrame({'id': [1], 'salary':[100]})

In [19]:
second_highest_salary(employee_short)

  SecondHighestSalary
0                None

### Better Solutions:

In [21]:
def second_highest_salary_v1(df: pd.DataFrame):
    unique_salaries = df['salary'].drop_duplicates().nlargest(2)
    second_highest = unique_salaries.iloc[1] if len(unique_salaries) >= 2 else None
    return pd.DataFrame({'SecondHighestSalary': [second_highest]})

In [22]:
second_highest_salary_v1(employee)

   SecondHighestSalary
0                  200

```nlargest(n)``` returns **at most** n elements, but if there are fewer unique values, it just returns what's available. It doesn't pad with nulls or throw an error.