## 177. Nth Highest Salary

Write a solution to find the ```nth``` highest **distinct** salary from the ```Employee``` table. If there are less than ```n``` distinct salaries, return ```null```.

In [1]:
import pandas as pd

In [15]:
employee = pd.DataFrame(
    {'id': [1, 2, 3, 4, 5], 'salary': [100, 200, 300, 200, 400]}
)

In [16]:
def nth_highest_salary(df: pd.DataFrame, N: int):
    if N <= 0:
        return pd.DataFrame({f'getNthHighestSalary({N})': [None]})

    # Don't use sort_values to the whole dataset
    # unique_salaries = df['salary'].drop_duplicates().sort_values(ascending=False)
    unique_salaries = df.salary.drop_duplicates()

    if len(unique_salaries) < N:
        return pd.DataFrame({f'getNthHighestSalary({N})': [None]})

    # nlargest is more efficient for small N
    nth_salary = unique_salaries.nlargest(N).iloc[-1]

    return pd.DataFrame({f'getNthHighestSalary({N})': [nth_salary]})

In [17]:
nth_highest_salary(employee, 2)

   getNthHighestSalary(2)
0                     300

In [18]:
nth_highest_salary(employee, 5)

  getNthHighestSalary(5)
0                   None