### 178. Rank Scores
Write a solution to find the rank of the scores. The ranking should be calculated according to the following rules:
* The scores should be ranked from the highest to the lowest.
* If there is a tie between two scores, both should have the same ranking.
* After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.

Return the result table ordered by ```score``` in descending order.
The result format is in the example.

In [1]:
import pandas as pd

In [12]:
scores = pd.DataFrame({
    "id": [1, 2, 3, 4, 5, 6],
    "score": [3.50, 3.65, 4.00, 3.85, 4.00, 3.65],
})
scores.set_index('id', inplace=True)
scores

    score
id
1    3.50
2    3.65
3    4.00
4    3.85
5    4.00
6    3.65

In [38]:
def order_scores(df):
    # scores: id and score
    sorted_scores = df['score'].sort_values(ascending=False)
    unique_scores = sorted_scores.unique()
    score_rank = {}
    rank = 1
    for score in unique_scores:
        score_rank[score] = rank
        rank += 1

    result = sorted_scores.to_frame().reset_index()
    result['rank'] = [score_rank[score] for score in result['score']]

    return result[['score', 'rank']]

In [39]:
order_scores(scores)

   score  rank
0   4.00     1
1   4.00     1
2   3.85     2
3   3.65     3
4   3.65     3
5   3.50     4

In [53]:
def order_scores_1(df):
    result = df.sort_values('score', ascending=False)[['score']]
    result['rank'] = result['score'].rank(method='dense', ascending=False).astype(int)
    return result[['score', 'rank']].reset_index(drop=True)

In [54]:
order_scores_1(scores)

   score  rank
0   4.00     1
1   4.00     1
2   3.85     2
3   3.65     3
4   3.65     3
5   3.50     4