Find all numbers that appear at least three times consecutively. Return the result table in **any order**.

In [1]:
import pandas as pd

In [2]:
logs = pd.DataFrame({
    'id': [i for i in range(1, 8)],
    'num': [1, 1, 1, 2, 1, 2, 2]
})
logs

   id  num
0   1    1
1   2    1
2   3    1
3   4    2
4   5    1
5   6    2
6   7    2

In [44]:
def consecutive_numbers(logs):
    # Create lagged columns to compare with previous values
    logs_copy = logs.copy()
    logs_copy['prev_num'] = logs_copy['num'].shift(1)
    logs_copy['prev_num2'] = logs_copy['num'].shift(2)

    # Find rows where current number equals previous 1 and previous 2 numbers
    consecutive_mask = (logs_copy['num'] == logs_copy['prev_num']) & \
                       (logs_copy['num'] == logs_copy['prev_num2'])

    # Get unique numbers that satisfy the condition
    result_nums = logs_copy[consecutive_mask]['num'].unique()

    return pd.DataFrame({'ConsecutiveNums': sorted(result_nums)})

In [45]:
consecutive_numbers(logs)

   ConsecutiveNums
0                1

In [54]:
def consecutive_numbers2(logs):
    """
    Find all numbers that appear consecutively at least 3 times.
    Args:
        logs: DataFrame with columns 'id' and 'num'
    Returns:
        DataFrame with column 'ConsecutiveNums' containing the result
    """

    # Using shift() and cumsum() to create consecutive groups
    # Step 1: Create a copy to avoid modifying original data
    df = logs.copy()

    # Step 2: Identify where values change from previous row
    df['group'] = (df['num'] != df['num'].shift()).cumsum()

    # Step 3: Group by consecutive groups and count occurrences
    consecutive_counts = df.groupby(['group', 'num']).size().reset_index(name='count')

    # Step 4: Filter for groups with 3 or more consecutive occurrences
    filtered_counts = consecutive_counts[consecutive_counts['count'] >= 3]
    result_nums = filtered_counts['num'].unique()

    return pd.DataFrame({'ConsecutiveNums': sorted(result_nums)})

In [55]:
consecutive_numbers2(logs)

   ConsecutiveNums
0                1