Write a solution to report all the duplicate emails. Note that it's a guaranteed that the email field is not NULL. Return the result table in any order.

In [1]:
import pandas as pd

In [14]:
person = pd.DataFrame({
    'id': [1, 2, 3],
    'email': ['a@b.com', 'c@d.com', 'a@b.com']
})

In [21]:
def duplicate_emails(df):
    email_counts = df['email'].value_counts()
    duplicates= email_counts[email_counts > 1].index.tolist()
    return pd.DataFrame({'Email': duplicates})

In [22]:
duplicate_emails(person)

     Email
0  a@b.com